* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: Helvetica, sans-serif;
}

.product-grid {
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  text-align: center;
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.product:hover {
  border: 1px solid #ddd;
}

.product-title {
  font-size: 14px;
  font-weight: 300;
}

.product-dash {
  border-bottom: 2px solid #eabf00;
  width: 20px;
  margin: 10px 0;
}

.product-price-currency {
  font-size: 8px;
}

.product-installments {
  color: #9c9b9b;
}

.product-image {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
}

.product-shipping {
  position: absolute;
  color: #ececec;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: .6em;
  background-color: #1b1a20;
  cursor: default;
}

.product:hover .product-btn {
  background: #eabf00;
}

.product-btn {
  background: black;
  border: none;
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  margin-top: 10px;
}

/*
  Cart CSS
*/


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 450px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  color: #fff;
  padding: 20px;
  background-color: #1b1a20; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.cart-item {
  color: #fff;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #000;
  margin: 20px;
}

.cart-item-footer {
  color: #fff;
  display: flex;
  padding: 20px;
  /* margin: 20px; */
  background: #000;
  z-index: 1;
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.cart-item-details {
  color: #5b5a5e;
  flex-grow: 1;
  padding: 20px;
}

.cart-item-btns {
  display: flex;
}

.cart-item-btn {
    color: #b7b7b7;
    border: 0;
    background-color: #000;
    width: 25px;
    height: 25px;
}